<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <div class="flex">
        <div class="wrapper">
            <h1 class="title">login page</h1>
            <form action="http://localhost:4000/api/user/login" method="post">
                <input class="inputname" name="gmail" type="gmail" placeholder="Gmail" required> <br>
                <input class="inputname" name="password" type="password" placeholder="Password" required><br>
                <input class="inputname" name="name" type="text" placeholder="Name" required><br>
                <div class="btnflex"><button class="btn">login</button></div>
            </form>
        </div>

        <a href="/api/user/singin">singin</a><br>
        <a href="/api/user/forgetpassword">forget password</a>

    </div>

</body>

</html>